<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<title>Box Token Generator</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
</head>
<body {% if show_modal is defined %} onload="$('#credentialsModal').modal()"{% endif %}>
<div class="container">
    <br>
    {% block content %}

    {% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
</body>
</html>